header {
    display: flex;
    justify-content: space-between;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    margin-bottom: 0;
}

h3, h5 {
    text-indent: 30px;
}

a {
    text-decoration: none;
    color: black;
}

.nav {
    padding: 1em;
}

#gradient-header {
    height: 2px;
    width: 100%;
    margin: 14px 0 18px 0;
    background-color: rgb(58, 58, 58);
}

#gradient-footer {
    height: 2px;
    width: 100%;
    margin: 18px 0 14px 0;
    background-color: rgb(58, 58, 58);
}

.social-media {
    cursor: pointer;
    margin: 0.5em 1em;
}

#home-button {
    width: 100px;
}

#pages-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#resume-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resume-item {
    width: 65%;
}

#contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact-item {
    padding: 0 1em;
}

.education {
    list-style: none;
}

.experience {
    margin-left: 30px;
}

#skills-container {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.skills {
    margin-top: 0;
}