/**********************/
/* Standard HTML Tags */
/**********************/

body {
    font-family: 'Gloria Hallelujah', cursive;
}

header {
    top: 0;
    left: 0;
    text-transform: uppercase;
    position: fixed;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 44px;
    text-align: center;
    margin-bottom: 0;
}

h2 {
    text-transform: uppercase;
    font-size: 28px;
    margin: .75em 0 .5em 0;
}

h3 {
    font-family: 'Edu SA Beginner', cursive;
    font-weight: 400;
    font-size: 22px;
    text-indent: 30px;
}

.title {
    text-transform: uppercase;
    font-size: 24px;
}

h4 {
    font-family: 'Edu SA Beginner', cursive;
    font-weight: 400;
    font-size: 20px;
    text-indent: 30px;
}

h5 {
    font-family: 'Edu SA Beginner', cursive;
    font-weight: 400;
    font-size: 20px;
    text-indent: 30px;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    margin-left: 6px;
    margin-right: 25px;
}

li {
    font-family: 'Edu SA Beginner', cursive;
    font-weight: 400;
    font-size: 20px;
    margin: .5rem 0;
}

/***************************/
/* Desktop Navigation Menu */
/***************************/

#header-container {
    background-color: white;
    height: 125px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 0;
}

#home-button {
    width: 100px;
    position: absolute;
    left: 10px;
    top: 10px;
}

#pages-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    right: 0;
}

.nav {
    color: rgb(33, 110, 183);
    font-size: 30px;
    padding: 0 1em;
    margin: 0px;
    display: block;
}

.nav:hover {
    color: rgb(199, 83, 156);
}

#gradient-header {
    position: fixed;
    height: 6px;
    width: 100%;
    top: 120px;
    left: 0;
    margin: 0px 0 18px 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 6px 7px rgba(31, 32, 33, 0.657);
}

/*****************************/
/* Hamburger Navigation Menu */
/*****************************/

.hamburger-nav {
    color: white;
    font-size: 30px;
    padding: .5em;
    text-align: right;
    display: block;
    margin: 0 20px 0 0;
}

.hamburger-nav:hover {
    color: rgb(253, 101, 197);
}

.hamburger-nav:first-of-type {
    margin-top: 125px;
}

.divider {
    background-color: white;
    width: 70%;
    height: 1px;
    margin: 0 0 0 60px;
}

#hamburger-menu-button {
    position: fixed;
    right: 18px;
    top: 18px;
    width: 80px;
    height: 80px;
    background-color: rgb(50, 125, 196);
    border-radius: 8px;
    border: 1px solid white;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
}

.hamburger-icon {
    background-color: white;
    width: 60%;
    height: 8%;
    margin: 6% 0;
    border-radius: 2px;
    display: block;
}

#X1 {
    width: 52px;
    height: 7px;
    background-color: white;
    position: absolute;
    border-radius: 5px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    display: none;
}

#X2 {
    position: relative;
    width: 52px;
    height: 7px;
    background-color: white;
    border-radius: 5px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
    display: none;
}

#hamburger-menu-panel {
    position: fixed;
    display: none;
    top: 0px;
    right: 0px;
    width: 300px;
    height: 100%;
    background-color: rgb(50, 125, 196);
    z-index: 2;
}

/*******************/
/* Resume Elements */
/*******************/

#resume-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#resume-header {
    background-color: rgb(201, 221, 247);
    padding: 0 2rem;
    border: 2px solid black;
    border-bottom-style: dashed;
    margin-top: 162px;
}

#resume-body {
    background-color: rgb(225, 235, 248);
    padding: 0 2rem;
    border: 2px solid black;
    border-top-style: none;
}

.resume-item {
    width: 72%;
}

#contact {
    padding: .5rem 2rem;
    margin-bottom: 20px;
    display: flex;
    font-size: 20px;
    flex-direction: row;
    justify-content: center;
}

.contact-item {
    padding: 0 1em;
    margin: 3px 0;
    font-family: 'Edu SA Beginner', cursive;
    font-weight: 400;
}

.education {
    list-style: none;
}

.experience {
    margin-left: 30px;
}

#skills-container {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-bottom: 20px;
}

.skills {
    margin-top: 0;
    margin-bottom: 18px;
    font-family: 'Edu SA Beginner', cursive;
    font-weight: 400;
}

.dropdown {
    width: max-content;
    cursor: pointer;
}

.dropdown:hover {
    color: rgb(90, 90, 90);
}

span {
    text-transform: uppercase;
}

#open-resume {
    background-color: rgb(164, 200, 247);
    font-size: 18px;
    text-transform: uppercase;
    width: max-content;
    padding: 7px 14px;
    border: 2px solid black;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 25px;
    cursor: pointer;
}

#open-resume:hover {
    background-color: rgb(244, 168, 202);
}

/**********/
/* Footer */
/**********/

.social-media {
    background-color: rgb(33, 110, 183);
    color: rgb(255, 255, 255);
    font-size: 20px;
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 50px;
    cursor: pointer;
    margin: 0 1em .6em 1em;
}

.social-media > img {
    width: 50px;
    height: 50px;
    margin: auto;
}

.social-media:hover {
    background-color: rgb(199, 83, 156);
}

#gradient-footer {
    height: 6px;
    width: 100%;
    margin: 30px 0 18px 0;
    margin-top: 30px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px -6px 7px rgb(154, 157, 163);
}

/*****************/
/* Media Queries */
/*****************/

/* For mobile phones and tablets: */
@media only screen and (max-width: 1025px) {
    .nav {
        display: none;
    }
    #hamburger-menu-button {
        display: flex;
    }
}