header {
    /* display: flex;
    justify-content: space-between; */
    height: 100px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: rgb(233, 233, 233);
}

a {
    text-decoration: none;
    color: black;
}

.nav {
    padding: 1em;
    display: none;
}

.hamburger-nav {
    color: white;
    font-size: 30px;
    padding: .5em;
    text-align: right;
    display: block;
    margin: 0 20px 0 0;
}

.hamburger-nav:first-of-type {
    margin-top: 125px;
}

.divider {
    background-color: white;
    width: 70%;
    height: 1px;
    margin: 0 0 0 60px;
}

#hamburger-menu-button {
    position: absolute;
    right: 18px;
    top: 18px;
    width: 80px;
    height: 80px;
    background-color: rgb(50, 125, 196);
    border-radius: 8px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 3;
}

.hamburger-icon {
    background-color: white;
    width: 60%;
    height: 8%;
    margin: 6% 0;
    border-radius: 10%;
}

#hamburger-menu-panel {
    position: absolute;
    right: -300px;
    top: 0px;
    width: 300px;
    height: 100%;
    background-color: rgb(50, 125, 196);
    z-index: 2;
}

.social-media {
    cursor: pointer;
    margin: 0.5em 1em;
}

#home-button {
    width: 100px;
    position: absolute;
    left: 10px;
    top: 10px;
}

#pages-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#gradient-header {
    height: 2px;
    width: 100%;
    margin: 14px 0 18px 0;
    background-color: rgb(58, 58, 58);
}

#gradient-footer {
    height: 2px;
    width: 100%;
    margin: 18px 0 14px 0;
    background-color: rgb(58, 58, 58);
}

#img-swap {
    position: relative;
}


#art-image {
    width: 100%;
}

#name-text {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-0%, -0%);
}