header {
    display: flex;
    justify-content: space-between;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

p {
    width: 55%;
    text-indent: 30px;
}

#description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav {
    padding: 1em;
}

.social-media {
    cursor: pointer;
    margin: 0.5em 1em;
}

#home-button {
    width: 100px;
}

#pages-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}