header {
    display: flex;
    justify-content: space-between;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-decoration: underline;
}

a {
    text-decoration: none;

}

.nav {
    padding: 1em;
}

.social-media {
    cursor: pointer;
    margin: 0.5em 1em;
}

#home-button {
    width: 100px;
}

#pages-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}