/**********************/
/* Standard HTML Tags */
/**********************/

body {
    font-family: 'Gloria Hallelujah', cursive;
}

header {
    top: 0;
    left: 0;
    text-transform: uppercase;
    position: fixed;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

footer {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: rgb(233, 233, 233);
}

a {
    text-decoration: none;
    color: black;
}

/***************************/
/* Desktop Navigation Menu */
/***************************/

#header-container {
    background-color: white;
    height: 125px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 0;
}

#home-button {
    width: 100px;
    position: absolute;
    left: 10px;
    top: 10px;
}

#pages-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    right: 0;
}

.nav {
    color: rgb(33, 110, 183);
    font-size: 30px;
    padding: 0 1em;
    margin: 0px;
    display: block;
}

.nav:hover {
    color: rgb(199, 83, 156);
}

#gradient-header {
    position: fixed;
    height: 6px;
    width: 100%;
    top: 120px;
    left: 0;
    margin: 0px 0 18px 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 6px 7px rgba(31, 32, 33, 0.657);
    z-index: 2;
}

/*****************************/
/* Hamburger Navigation Menu */
/*****************************/

.hamburger-nav {
    color: white;
    font-size: 30px;
    padding: .5em;
    text-align: right;
    display: block;
    margin: 0 20px 0 0;
}

.hamburger-nav:hover {
    color: rgb(253, 101, 197);
}

.hamburger-nav:first-of-type {
    margin-top: 125px;
}

.divider {
    background-color: white;
    width: 70%;
    height: 1px;
    margin: 0 0 0 60px;
}

#hamburger-menu-button {
    position: fixed;
    right: 18px;
    top: 18px;
    width: 80px;
    height: 80px;
    background-color: rgb(50, 125, 196);
    border-radius: 8px;
    border: 1px solid white;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
}

.hamburger-icon {
    background-color: white;
    width: 60%;
    height: 8%;
    margin: 6% 0;
    border-radius: 2px;
    display: block;
}

#X1 {
    width: 52px;
    height: 7px;
    background-color: white;
    position: absolute;
    border-radius: 5px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    display: none;
}

#X2 {
    position: relative;
    width: 52px;
    height: 7px;
    background-color: white;
    border-radius: 5px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
    display: none;
}

#hamburger-menu-panel {
    position: fixed;
    display: none;
    top: 0px;
    right: 0px;
    width: 300px;
    height: 100%;
    background-color: rgb(50, 125, 196);
    z-index: 3;
}

/***********************/
/* Image Swap Elements */
/***********************/

#img-swap {
    margin-top: 162px;
    display: flex;
    justify-content: center;
}

#overlay {
    width: 98%;
    height: calc(55vw);
    margin: auto;
    background-color: rgba(0, 0, 0, 0.15);
    position: absolute;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

#art-image {
    background-image: url("../images/image-swap-01.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    width: 100%;
    height: calc(55vw);
    margin: auto;
    cursor: pointer;
    z-index: -2;
}

#intro-text {
    color: white;
    font-family: 'Edu SA Beginner', cursive;
    font-weight: 400;
    font-size: calc(4vw);
    text-align: left;
    margin: 0 auto;
    z-index: 2;
    text-shadow: 0px 0px 15px rgb(45, 45, 45);
    transform: translate(-3em, 0);
    user-select: none;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
}

#name-text {
    font-size: calc(7vw);
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    z-index: 2;
    text-shadow: 0px 0px 20px rgb(45, 45, 45);
    user-select: none;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
}

/**********/
/* Footer */
/**********/

.social-media {
    background-color: rgb(33, 110, 183);
    color: rgb(255, 255, 255);
    font-size: 20px;
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 50px;
    cursor: pointer;
    margin: 0 1em .6em 1em;
}

.social-media > img {
    width: 50px;
    height: 50px;
    margin: auto;
}

.social-media:hover {
    background-color: rgb(199, 83, 156);
}

#gradient-footer {
    height: 6px;
    width: 100%;
    margin: 30px 0 18px 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px -6px 7px rgb(154, 157, 163);
}

/*****************/
/* Media Queries */
/*****************/

/* For mobile phones and tablets: */
@media only screen and (max-width: 1025px) {

    /*** Header Adustments ***/

    .nav {
        display: none;
    }
    
    header {
        height: 25vw;
        background-color: white;
    }

    #gradient-header {
        top: 25vw;

    }
    
    #home-button {
        width: 23%;
        height: 23vw;
    }
    
    #hamburger-menu-button {
        border-radius: 20px;
        display: flex;
        width: 20%;
        height: 20vw;
    }

    #X1, #X2 {
        width: 9%;
        height: 13vw;
    }

    #hamburger-menu-panel {
        width: 55%;
    }

    .hamburger-nav {
        font-size: 68px;
    }

    .hamburger-nav:first-of-type {
        margin-top: 26vw;
    }

    .divider {
        width: 75%;
        height: 2px;
        margin: 0 0 0 8vw;
    }

    /*** Body Adustments ***/

    h1 {
        margin-top: 30vw;
    }

    /*** Footer Adustments ***/

    .social-media {
        width: 12%;
        height: 12vw;
        padding: 1vw;
        border-radius: 100px;
        margin: 1vw 4vw;
    }
    
    .social-media > img {
        width: 10vw;
        height: 10vw;
        margin-top: 1vw;
        margin-left: 1vw;
    }

}