/**********************/
/* Standard HTML Tags */
/**********************/

body {
    font-family: 'Gloria Hallelujah', cursive;
}

header {
    top: 0;
    text-transform: uppercase;
    position: fixed;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-top: 162px;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

p {
    width: 55%;
    text-indent: 30px;
}

/***************************/
/* Desktop Navigation Menu */
/***************************/

#header-container {
    background-color: white;
    height: 125px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 0;
}

#home-button {
    width: 100px;
    position: absolute;
    left: 10px;
    top: 10px;
}

#pages-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    right: 0;
}

.nav {
    color: rgb(33, 110, 183);
    font-size: 30px;
    padding: 0 1em;
    margin: 0px;
    display: block;
}

.nav:hover {
    color: rgb(199, 83, 156);
}

#gradient-header {
    position: fixed;
    height: 6px;
    width: 100%;
    top: 120px;
    margin: 0px 0 18px 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 6px 7px rgba(31, 32, 33, 0.657);
}

/*****************************/
/* Hamburger Navigation Menu */
/*****************************/

.hamburger-nav {
    color: white;
    font-size: 30px;
    padding: .5em;
    text-align: right;
    display: block;
    margin: 0 20px 0 0;
}

.hamburger-nav:hover {
    color: rgb(253, 101, 197);
}

.hamburger-nav:first-of-type {
    margin-top: 125px;
}

.divider {
    background-color: white;
    width: 70%;
    height: 1px;
    margin: 0 0 0 60px;
}

#hamburger-menu-button {
    position: absolute;
    right: 18px;
    top: 18px;
    width: 80px;
    height: 80px;
    background-color: rgb(50, 125, 196);
    border-radius: 8px;
    border: 1px solid white;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 3;
}

.hamburger-icon {
    background-color: white;
    width: 60%;
    height: 8%;
    margin: 6% 0;
    border-radius: 2px;
    display: block;
}

#X1 {
    width: 52px;
    height: 7px;
    background-color: white;
    position: absolute;
    border-radius: 5px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    display: none;
}

#X2 {
    position: relative;
    width: 52px;
    height: 7px;
    background-color: white;
    border-radius: 5px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
    display: none;
}

#hamburger-menu-panel {
    position: absolute;
    display: none;
    top: 0px;
    right: 0px;
    width: 300px;
    height: 100%;
    background-color: rgb(50, 125, 196);
    z-index: 2;
}

/*********************/
/* About Me Elements */
/*********************/

#description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/**********/
/* Footer */
/**********/

.social-media {
    color: rgb(33, 110, 183);
    font-size: 20px;
    cursor: pointer;
    margin: 0 1em .6em 1em;
}

.social-media:hover {
    color: rgb(199, 83, 156);
}

#gradient-footer {
    height: 6px;
    width: 100%;
    margin: 30px 0 18px 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px -6px 7px rgb(154, 157, 163);
}

/*****************/
/* Media Queries */
/*****************/

/* For mobile phones: */
@media only screen and (max-width: 768px) {
    .nav {
        display: none;
    }
    #hamburger-menu-button {
        display: flex;
    }
}